<style type="text/css">
  .match {
    background-color: #AFC8FF
  }

  #new-match {
    background-color: #8EB79B
  }
</style>

<h2>Matches</h2>
<% if matches.empty? %>
  <span>No matches yet, go create one :)</span>
<% end%>
<ul>
  <% matches.each do |match| %>
    <li>
      <a class="match button" href="/matches/<%= match[:id] %>">
        <%= match[:participants].empty? && 'nobody is in here now, come and play' || match[:participants].join(' vs. ') %>
      </a>
    </li>
  <% end %>
</ul>

<input class="button" id="new-match" type="button" value="New match">

<script>
  document.addEventListener('DOMContentLoaded', function(){
    document.getElementById('new-match').addEventListener('click', function(){
      axios.post('/matches/create').then(() => {
        location.reload()
      })
    })
  })
</script>

