<h2>Participants</h2>
<% if participants.empty? %>
  <span>No participants yet, go add one :)</span>
<% end%>
<ul>
  <% participants.each do |participant| %>
    <li>
      <span><%= participant %></span>
    </li>
  <% end %>
</ul>

<label id="add-bots-button" class="button" for="add-bots">Add Bots</label>
<a class="button" id="play-match" href="view">View Match</a>
<a class="button" id="download-match" href="play">Download Match</a>

<input hidden id="add-bots" type="checkbox" autocomplete="off">
<div id="editor">
  <textarea id="code"></textarea>
  <div class="controls">
    <label id="load" for="file_load" class="button">
      <input id="file_load" type="file" hidden multiple>
      load from file(s)
    </label>
    <input type="button" value="add to match" id="add" class="button">
    <input type="button" value="clear editor" id="clear" class="button">
    <label id="toggle-library" class="button" for="show-library">from library</label>
    <label class="button" for="add-bots">cancel adding</label>
    <input hidden id="show-library" type="checkbox" autocomplete="off">
    <div id="bots-library">
      <div id="bots-library-folders"></div>
      <div id="bots-library-contents"></div>
    </div>
  </div>
</div>

<style type="text/css">
  #add-bots + #editor,
  #show-library + #bots-library,
  .toggle + .toggleable {
    display: none;
  }

  #add-bots:checked + #editor,
  #show-library:checked + #bots-library,
  .toggle:checked + .toggleable {
    display: block;
  }

  #editor .controls {
    text-align: center;
  }

  #clear {
    background-color: #B78E8E
  }

  #add,
  #play-match,
  #toggle-library {
    background-color: #8EB79B
  }

  #load,
  #add-bots-button {
    background-color: #AFC8FF
  }

  .button.bot {
    background-color: #FFB17A
  }

  .button.folder {
    background-color: #CCFF6B
  }

</style>

<script>

  var sampleCode = `class MyKillerBot < RTanque::Bot::Brain
  def tick!
    # now do something very killer
  end
end
`
  var setUpCompletions = function(){
    CodeMirror.commands.autocomplete = function(cm) {
      CodeMirror.showHint(cm, CodeMirror.hint.anyword)
    }
  }

  var codeMirrorSettings = {
    mode: 'ruby',
    theme: 'monokai',
    keyMap: 'sublime',
    lineNumbers: true,
    lineWrapping: true,
    scrollbarStyle: 'overlay',
    styleActiveLine: true,
    matchBrackets: true,
    tabSize: 2,
    smartIndent: true,
    autofocus: true,
    cursorScrollMargin: 25,

    extraKeys: {
      "Ctrl-Space": "autocomplete",
      "Shift-Alt-7": "autocomplete",
      "Shift-Ctrl-7": 'toggleCommentIndented'
    }
  }

  var setUpCodeMirror = function() {
    window.editor = CodeMirror.fromTextArea(document.getElementById("code"), codeMirrorSettings)
    editor.setValue(sampleCode)
  }

  var setUpSendToServer = function(){
    document.getElementById('add').addEventListener('click',  function(){
      var fd = new FormData()
      fd.append('code', editor.getValue())

      axios.post('add_bots', fd).then(function(){
        console.log('bot added')
        location.reload()
      }).catch(function(){
        console.log('error occured')
      })
    })
  }

  var readFileContents = function(file, callback){
    var fileReader = new FileReader()

    fileReader.onload = function(event){
      callback(event.target.result)
    }

    fileReader.readAsText(file)
  }

  var setUpFileLoad = function(){
    document.getElementById('file_load').addEventListener('change',  function(event){
      editor.setValue('')

      Array.prototype.forEach.call(event.target.files, function(file){
        console.log(file)

        readFileContents(file, function(textToAdd){
          editor.setValue(editor.getValue() + '\n' + textToAdd)
        })

        swal('Now you can tweak that before sending to the battle')
      })
    })
  }

  var setUpClear = function(){
    document.getElementById('clear').addEventListener('click',  function(){
      editor.setValue('')
    })
  }

  var drawBot = function(bot, holder){
    var botButton = document.createElement('input')
    botButton.type = 'button'
    botButton.classList.add('button')
    botButton.classList.add('bot')
    botButton.value = bot.name

    botButton.addEventListener('click', function(){
      editor.setValue(bot.code)
    })

    holder.appendChild(botButton)
  }

  var drawFolderButton = function(folder, holder){
    var folderButton = document.createElement('label')
    folderButton.classList.add('button')
    folderButton.classList.add('folder')
    folderButton.innerHTML = folder.name
    folderButton.htmlFor = 'toggle_' + folder.name

    holder.append(folderButton)
  }

  var drawFolderContents = function(folder, holder){
    var folderToggle = document.createElement('input')
    folderToggle.type = 'radio'
    folderToggle.name = 'visible-folder'
    folderToggle.classList.add('toggle')
    folderToggle.id = 'toggle_' + folder.name
    folderToggle.autocomplete = 'off'
    folderToggle.setAttribute('hidden', true)

    var folderContents = document.createElement('div')
    folderContents.classList.add('toggleable')

    folder.contents.forEach(function(entry){
      if (entry.type === 'bot')
        drawBot(entry, folderContents)
      else
        drawFolder(entry, folderContents, holder)
    })

    holder.append(folderToggle)
    holder.append(folderContents)
  }

  var drawFolder = function(entry, foldersHolder, contentsHolder){
    drawFolderButton(entry, foldersHolder)
    drawFolderContents(entry, contentsHolder)
  }

  var setUpLibrary = function(){
    axios.get('/bots/library').then(function(response){
      var botsLibraryFolders = document.getElementById('bots-library-folders')
      var botsLibraryContents = document.getElementById('bots-library-contents')

      response.data.entries.forEach(function(entry){
        if (entry.type === 'folder')
          drawFolder(entry, botsLibraryFolders, botsLibraryContents)

        else
          drawBot(entry, botsLibraryFolders)

      })
    })
  }

  var setUpEditor = function(){
    console.log('settingupeditor')
    setUpCompletions()
    setUpCodeMirror()
    setUpSendToServer()
    setUpFileLoad()
    setUpClear()
  }

  document.addEventListener('DOMContentLoaded', function(){
    var toggleEditor = document.getElementById('add-bots')

    var editorSetUpper = function(){
      setUpEditor()
      setUpLibrary()
      toggleEditor.removeEventListener('change', editorSetUpper)
    }

    toggleEditor.addEventListener('change', editorSetUpper)
  })
</script>
